* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html,
body {
  background-color: black;
  height: 100%;
  width: 100%;
}
.box{
  height: 200px;
  width: 200px;
  background-color: red;
  border:  1px solid gray;
  overflow: hidden;
}
.circle{
  height: 200px;
  width: 200px;
  background-color: pink;
  border:  1px solid gray;
  /* overflow: hidden; */
  border-radius: 50%;
}
p{
  padding: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
}