.card{
    display: inline-block;
    padding: 2vw;
    border: 1px solid black;
    margin-top: 1vw;
}

.profilepic{
    height: 200px;
    width: 300px;
    border-radius: 2vw;
    overflow: hidden;
}

.profilepic img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
